.main_row {
    max-width: 1200px !important;
    margin: 0 auto !important;
}

/* =========================================== */
input,
textarea {
    outline: none;
}

.container .check-out-title {
    text-align: center;
    padding: 15px;
    color: #2196F3;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    /* margin: 0 -16px; */
    padding: 10px;
    flex-direction: row-reverse;

}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

/* .container {
     background-color: #f2f2f2;
     min-height: 100vh;
 
 } */

.content {
    border: 1px solid lightgrey;
    padding: 0px 20px 0px 20px;
    border-radius: 3px;
    margin: 0px 010px 0px 10px;
}

input[type=text],
input[type=number],
input[type=email],
textarea {
    resize: vertical;
    max-width: 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
    direction: rtl;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}


.edit-cart-container {
    position: relative;
    padding: 15px;
}

.edit-cart-container a {
    position: absolute;
    right: 0px;
    top: 5px;
}

.curency {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    margin: 10px 0;
    border: none;
    width: 100%;
    font-size: 17px;

    background: rgb(15, 253, 103);
    font-weight: bold;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: .3s;
    display: block;
}

.btn.active:hover {
    background-color: rgb(246, 150, 121);
}



hr {
    border: 1px solid lightgrey;
}

.total-price-container {
    padding: 10px 0;
}

span.price {
    float: right;
    color: grey;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}